# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  pusher_add_id:
  pusher_key:
  pusher_secret:
  redis_host: localhost
  redis_port: 6379
  smtp_host: 127.0.0.1
  smtp_port: 1025
  smtp_user: ""
  smtp_password: ""
  smtp_domain: exsules.dev
  smtp_authentication: plain
  smtp_startssl: false
  smtp_openssl_verify: none
  secret_key_base: e1400deeaf2053eadb693a956868e5a97c6ba538ff7dfd18071c09bd378cfb62c21bb991618725200ffc4e2a384bfeddeb0ae5813e9e9b124dc934b95ce41a76

test:
  secret_key_base: db32e6e54ab5948f165876ed9bcc2b1a6e3af13c29151374b76406adf6e35e8bbab0022ba609ee09b6fbbdcad54378269b934d57ead1f964dd9ac21de2e45e37

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
